<html>

<body>
    <div>Список сообщений{{some}}</div>
    {{#massenge}}
        <div>
            <b>{{id}}</b>
            <span>{{text}}</span>
            <b>{{tag}}</b>
        </div>
    {{/massenge}}
</body>
</html>